body{
    background-color:grey;
  }

header{
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

h1{
    font-size:40pt;
}

h3{
    font-size: 30pt;
}

p{
    font-size: 24pt;
}

main{
    background-color: white;
    border-radius: 10px;
}

aside{
    background-color: white;
    border-radius: 10px;
}

footer{
    background-color: white;
    border-radius: 10px;
}
nav li{
    border: 2px, solid, grey;
    background-color: white;
    list-style-type: none;
}

nav li a{
    color: black;
    text-align: center;
    text-decoration: none;
}

nav li:hover{
    background-color:blue;
}

.active{
    background-color: blueviolet;
}