body{
    background-color:rgb(85, 122, 77);
  }

header{
    background-color: rgb(121, 116, 112);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1,h2,h3,h4,h5,h6,p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
}

h1{
    font-size:40pt;
}

h3{
    font-size: 30pt;
}

p{
    font-size: 24pt;
}

main{
    background-color: rgb(121, 116, 112);
    border-radius: 10px;
}

div{
    padding: 10px;
}

aside{
    background-color: rgb(121, 116, 112);
    border-radius: 10px;
    padding: 10px;
}

footer{
    background-color: rgb(121, 116, 112);
    border-radius: 10px;
    padding: 10px;
}

nav{
    padding: 10px;
}

nav ul{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li{
    border: 2px, solid, rgb(49, 73, 44);
    background-color: rgb(121, 116, 112);
    list-style-type: none;
    float: left;
    width: 15%;
    padding: 16px;
}

nav li a{
    color: black;
    text-decoration: none;
}

nav li:hover{
    background-color:rgb(151, 143, 137);
}

.active{
    background-color: blueviolet;
}

table{
    padding: 10px;
}

#logo{
    height: 50px;
    width: 50px;
    float: left;
    margin-right: 10px;
}

#mainTitle{
    display: inline;
}